<nav class="navbar">
    <div class="nav-container">
        <div class="nav-brand">
            <a href="index.html" class="brand-link">
                VEOMA-Labs<span class="brand-dot">.</span>
            </a>
        </div>

        <div class="nav-wrapper">
            <ul class="nav-menu">
                <li><a href="index.html" class="nav-link">Home</a></li>
                <li class="nav-dropdown">
                    <a href="#" class="nav-link">Workshop</a>
                    <ul class="dropdown-menu">
                        <li><a href="workshop-printing.html" class="dropdown-link">3D Printing Workshop</a></li>
                        <li><a href="workshop-scanning.html" class="dropdown-link">3D Scanning Workshop</a></li>
                    </ul>
                </li>
                <li><a href="about.html" class="nav-link">About Us</a></li>
                <li><a href="contactus.html" class="nav-link">Contact</a></li>
            </ul>
        </div>

        <div class="nav-mobile-toggle">
            <span></span>
            <span></span>
        </div>
    </div>
</nav>